<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="static/js/jquery-1.12.4.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/setOperations.js"></script>
    <script>

    // $(function(){
    //         $("#submit_camera").click(function(){
    //         console.log("clicked");
    //             var form_data = new FormData($("#form")[0]);
    //             $.ajax({
    //                 url: '/stream',
    //                 data: form_data,
    //                 type: 'POST',
    //                 contentType: false,
    //                 cache: false,
    //                 processData: false,
    //                 async: false,
    //                 success: function(response){
    //                     if(response == "file uploaded successfully"){
    //                         console.log("정상 처리 되었습니다.");
    //                     }else if (response =="filename is not acceptable"){
    //                         console.log("파일 이름 일치하지 않기로 파일 업데이드 실패하였습니다.");
    //                     }
    //                 },
    //                 error: function(error){
    //                     console.log(error);
    //                 }
    //             });
    //         });
    //     });

    //     $(function(){
    //         $("#submit_video").click(function(){
    //         console.log("clicked");
    //             var form_data = new FormData($("#form")[0]);
    //             $.ajax({
    //                 url: '/video',
    //                 data: form_data,
    //                 type: 'POST',
    //                 contentType: false,
    //                 cache: false,
    //                 processData: false,
    //                 async: false,
    //                 success: function(response){
    //                     if(response == "file uploaded successfully"){
    //                         console.log("정상 처리 되었습니다.");
    //                     }else if (response =="filename is not acceptable"){
    //                         console.log("파일 이름 일치하지 않기로 파일 업데이드 실패하였습니다.");
    //                     }
    //                 },
    //                 error: function(error){
    //                     console.log(error);
    //                 }
    //             });
    //         });
    //     });


     $(function(){
            $("#submit_video").click(function(){
                var form_data = new FormData($("#form")[0]);
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'video', true);
                xhr.onreadystatechange = function() {
                    if(xhr.status===200){
                        console.log(xhr.responseText);
                        document.getElementById("latest_value").innerHTML="<br><br><br>" + xhr.responseText;
                    }
                };
                xhr.send(form_data);
            });
    });




    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Detected info: <span id="latest_value"></span></p>
<form role="form" id="form" name="input_form" method="POST" enctype="multipart/form-data">
    <input name="file" type="file" id="file" accept=".mp4"/>
    <button type="button" name="video" id="submit_video">인식 동영상</button>
    <button type="button" name="camera" id="submit_camera">인식 카메라</button>
    <button type="button" name="download" id="download" disabled="true">인식 동영상 다운로드 받기</button>
</form>
</body>
</html>